<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Panel" class="tip-bottom"><i class="icon-home"></i> Panel</a> <a>Statystyki</a><a class="current">Odwiedziny podstron</a> </div>
    <h1>{$pageTitle}</h1>
</div>
<div class="container-fluid">
	{section name=o loop=$odwiedz}
		{if $smarty.section.o.first}
		<table class="special" cellspacing="1">
		<thead>
			<tr>
				<td width="1%" align="center">Lp.</td>
				<td>Tytuł</td>
				<td>Data utworzenia</td>
				<td>Odwiedziny</td>
			</tr>
		</thead>
		<tbody>
		{/if}
		<tr class="{cycle values="shadow_dark,shadow_light"}">
			<td align="center">{$smarty.section.o.iteration+$interval}.</td>
			<td><a href="{$odwiedz[o].title_url}" target="_blank"><b>{$odwiedz[o].title}</b></a></td>
			<td>{$odwiedz[o].date_add}</td>
			<td class="center important"><strong>{$odwiedz[o].count}</strong></td>	
		</tr>
		{if $smarty.section.o.last}
		</tbody>
		</table>
		{/if}
	{sectionelse}
		<p class="center error">Brak wpisów w bazie.</p>
	{/section}
		
	{if $pages>1}
	<div class="center">
		{if $page>1}
			<a class="link" href="?page={$page-1}&amp;type={$smarty.get.type}">&laquo; Poprzednia</a>
		{else}
			<span class="inactive">&laquo; Poprzednia</span>
		{/if}
		| {section name=p start=1 loop=$pages+1}
					{assign var=i value=$smarty.section.p.index}
						{if $i == $page}<span class="inactive"> {$page} </span>{else}
						<a class="link" href="?page={$i}&amp;type={$smarty.get.type}"> {$i} </a>{/if}
				{/section} | 
		{if $page<$pages}
			<a class="link" href="?page={$page+1}&amp;type={$smarty.get.type}">Następna &raquo;</a>
		{else}
			<span class="inactive">Następna &raquo;</span>
		{/if}
		</div>
	{/if}
</div>