<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Panel" class="tip-bottom"><i class="icon-home"></i> Panel</a> <a>Ustawienia</a> <a>szablony E-mail</a><a class="current">Edycja</a> </div>
    <h1>{$pageTitle}</h1>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <a class="btn" href="?"><i class="icon-step-backward"></i> Powrót</a>
        <form method="post" class="form-horizontal"></br>
                        <p>{$description|nl2br}</p>
            <div class="control-group">
                <textarea style="width:100%; max-width: 100%; min-height: 200px;" id="edytor" name="mail_value">{$mail_value}</textarea></br>
            </div>
            <div class="form-actions">
                <input type="hidden" name="action" value="save" />
                <input type="hidden" name="id" value="{$smarty.get.id}" />
                <input class="btn btn-success" type="submit" value="Zapisz zmiany" />
            </div>
        </form>
    </div>
</div>