<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Panel" class="tip-bottom"><i class="icon-home"></i> Panel</a> <a>Galeria</a><a class="current">Dodaj nową</a> </div>
    <h1>{$pageTitle}</h1>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Formularz dodawania galerii</h5>
            </div>
            <div class="widget-content">
                <div class="alert alert-info">
                    Dodawanie zdjęć będzie możliwe dopiero przy edycji nowoutworzonej galerii.
                </div>
                <form method="post" action="{$smarty.server.PHP_SELF}" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Tytuł galerii :</label>
                            <div class="controls">
                                {section name=j1 loop=$JEZYK}
                                <input class="text title" type="text" name="title[{$JEZYK[j1].id}]" placeholder="{$JEZYK[j1].name}"/>
                                {/section}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label>
                                    <input id="show_title" type="checkbox" name="show_title" value="1" checked="true" />
                                    Pokazuj tytuł</label>
                                <label>
                                    <input id="active" type="checkbox" name="active" value="1" checked="true" />
                                    Pokazuj galerię w serwisie</label>
                                <label>
                                    <input id="show_page" type="checkbox" name="show_page" value="1" />
                                    Pokazuj na podstronach</label>
                                <label>
                                    <input type="checkbox" id="comments" name="comments" value="1" />
                                    Aktuwuj komentarze</label>
                                <label>
                                    <input id="auth" type="checkbox" name="auth" value="1" />
                                    Widoczna tylko dla zalogowanych</label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Krótki opis :</label>
                            <div class="controls">
                                {section name=j3 loop=$JEZYK}
                                <textarea class="seo-konf" rows="6" name="content_short[{$JEZYK[j3].id}]" placeholder="{$JEZYK[j3].name}"></textarea>
                                {/section}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Treść :</label>
                            <div class="controls">
                                {section name=j4 loop=$JEZYK}
                                <span>{$JEZYK[j4].name}</span></br>
                                <textarea id="edytor_{$JEZYK[j4].id}" name="content[{$JEZYK[j4].id}]"></textarea>
                                {/section}
                            </div>
                        </div>
                        <div class="form-actions">
                            <input class="btn btn-success" type="submit" name="action" value="Dodaj galerię" />
                            <input class="btn btn-danger" type="submit" name="action" value="Porzuć zmiany" />
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>