<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Panel" class="tip-bottom"><i class="icon-home"></i> Panel</a> <a>Galeria</a><a class="current">Edycja</a> </div>
    <h1>{$pageTitle}</h1>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Formularz edycji galerii</h5>
            </div>
            <div class="widget-content nopadding">
                <form method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data" class="form-horizontal">
                    <table class="special" cellspacing="1" cellpadding="0">
                        <div class="control-group">
                            <label class="control-label">Tytuł galerii :</label>
                            <div class="controls">
                                {section name=j1 loop=$JEZYK}
                                <input class="text title" type="text" name="title[{$JEZYK[j1].id}]" placeholder="{$JEZYK[j1].name}" value="{$opis[j1].title}" />
                                <input type="hidden" name="old_title_url[{$JEZYK[j1].id}]" value="{$opis[j1].title_url}" /> 
                                {/section}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Szerokość miniaturki :</label>
                            <div class="controls">
                                <input class="text" type="text" name="width" value="{$article.width}" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Wysokość miniaturki :</label>
                            <div class="controls">
                                <input class="text" type="text" name="height" value="{$article.height}" />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label>
                                    <input id="show_title" type="checkbox" name="show_title" value="1" checked="true" {if $article.show_title}checked="true" {/if} />
                                           Pokazuj tytuł</label>
                                <label>
                                    <input id="active" type="checkbox" name="active" value="1" {if $article.active}checked="true" {/if} />
                                           Aktywna</label>
                                <label>
                                    <input id="show_page" type="checkbox" name="show_page" value="1" {if $article.show_page}checked="true" {/if} />
                                           Dołączana na stronach</label>
                                <label>
                                    <input type="checkbox" id="comments" name="comments" value="1" {if $article.comments}checked="true" {/if} />
                                           Pozwól komentować</label>
                                <label>
                                    <input id="auth" type="checkbox" name="auth" value="1" {if $article.auth}checked="true" {/if} />
                                           Dostępna dla zalogowanych</label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Krótki opis :</label>
                            <div class="controls">
                                {section name=j3 loop=$JEZYK}
                                <textarea class="seo-konf" rows="6" name="content_short[{$JEZYK[j3].id}]" placeholder="{$JEZYK[j3].name}">{$opis[j3].content_short}</textarea>
                                {/section}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Treść :</label>
                            <div class="controls">
                                {section name=j4 loop=$JEZYK}
                                <span>{$JEZYK[j4].name}</span></br>
                                <textarea id="edytor_{$JEZYK[j4].id}" name="content[{$JEZYK[j4].id}]">{$opis[j4].content}</textarea>
                                {/section}
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="hidden" name="id" value="{$article.id}" />
                            <input class="btn btn-success" type="submit" name="action" value="Zapisz" />
                            <input class="btn btn-info" type="submit" name="action" value="Zapisz i kontynuuj edycję" />
                            <input class="btn btn-danger" type="submit" name="action" value="Porzuć zmiany" />
                        </div>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>